doctype html 
html
  head
    title  #{title}

    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/admin/css/style.css")
  body
    include ../partials/header

    .body 
      include ../partials/sider

      .main 
        block main

    
    
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js")
    //script(src="/js/script.js")
